[PHP]
engine=On
short_open_tag=Off
precision=14
output_buffering=4096
zlib.output_compression=Off
implicit_flush=Off
serialize_precision=-1
max_execution_time=300
max_input_time=300
memory_limit=512M
error_reporting=E_ALL & ~E_DEPRECATED & ~E_USER_DEPRECATED
display_errors=Off
display_startup_errors=Off
log_errors=On
html_errors=Off
post_max_size=100M
upload_max_filesize=100M
max_file_uploads=20
default_charset="UTF-8"
extension_dir="ext"

[Date]
date.timezone=Africa/Lagos

[Session]
session.save_handler=files
session.use_strict_mode=1
session.use_cookies=1
session.cookie_httponly=1
session.cookie_samesite=Lax

[Extensions]
extension=curl
extension=fileinfo
extension=gd
extension=intl
extension=mbstring
extension=mysqli
extension=openssl
extension=pdo_mysql
extension=sockets
extension=zip

